/* a minimalist set of CSS resets */

/* default to border-box */

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: slategrey;
  color: white;
}
h1 {
  font-family: verdana, arial, sans-serif;
}

button {
  padding: 10px;
  border-radius: 10px;
}
#gameButtonArea > button {
  width: 200px;
  height: 200px;
  margin: 2px;
}
.hidden {
  display: none;
}

#button1 {
  background: lightgreen;
}

#button1:active,
#button1.lit {
  background: green;
}
#button2 {
  background: lightblue;
}
#button2:active,
#button2.lit {
  background: blue;
}
#button3 {
  background: pink;
}
#button3:active,
#button3.lit {
  background: red;
}
#button4 {
  background: lightyellow;
}
#button4:active,
#button4.lit {
  background: yellow;
}
#button5 {
  background: white;
}
#button5:active, #button5.lit{
  background:grey;
}
/* images and videos max out at full width */



